[2017-12-15 17:53] adarshsharma opened #1 "Lastest commit breaks the build"
It seems the latest commit on the master is breaking the build.

[2017-12-19 07:57] adarshsharma commented on #1
It's fixed.

[2017-12-19 07:57] #1 closed

[2018-01-12 16:56] quen2404 opened #16 "Handle writeOnly & readOnly in Schema"
Schema diff doesn't handle writeOnly and readOnly when checking backward compatibility

[2018-01-12 16:59] quen2404 opened #17 "Exception when the new schema is composed"
If the schema change from standard schema to composed schema (anyOf, oneOf, allOf). an exception is raised:
[code]

[2018-01-12 17:22] quen2404 opened #18 "Add details in output (html/markdown/console) for changes in schema"
More details should be available for schema changes.
 - Property path
 - Changes detail

[2018-01-13 09:41] adarshsharma commented on #17
raised a PR https://github.com/quen2404/openapi-diff/pull/19

[2018-01-13 13:56] quen2404 commented on #17
Thank you adarsh ! 👍

[2018-01-13 13:56] #17 closed

[2018-01-16 10:56] adarshsharma opened #21 "Path Parameter name change shows 1 api added and 1 api deleted"
If the name of the path parameter is changed, it shows api removed and a new api added. Should not show any diff

**e.g.**
old: https://gist.github.com/adarshsharma/0a7d90019afb9fa4591e8e8b285bfe9b
new: https://gist.github.com/adarshsharma/52223a93146316e7b7165090f92a6265

[2018-01-17 14:38] quen2404 commented on #21
Hi Adarsh,
i almost fixed this issue, but i have to make a choice between two case:
1. Should we say that the operation has changed but is backward incompatible (because the path parameter name has changed)
2. should we say that operation didn't change ?

Because that kind of change could break the api implementation (but i'm agree with you, in theory, the API signature doesn't changed)

[2018-01-17 15:16] adarshsharma commented on #21
I think we should say that operation did not change. Because the api call
to server will still work.

On Wed, Jan 17, 2018 at 8:08 PM, Quentin Desramé <notifications@github.com>
wrote:

[2018-01-17 17:28] adarshsharma commented on #21
And since the operation did not change, it'll remain backward compatible.

On Wed, Jan 17, 2018 at 8:46 PM, Adarsh Sharma (CS -Tech) <
adarsh.sharma@flipkart.com> wrote:

[2018-01-17 17:33] quen2404 commented on #21
Yes, i'm working on it. I made the part about the path comparison. Now i have to write the part about the name changement for path parameters. I hope i will push that today.

[2018-01-17 17:35] adarshsharma commented on #21
sure. :)

On Wed, Jan 17, 2018 at 11:03 PM, Quentin Desramé <notifications@github.com>
wrote:

[2018-01-18 10:47] #21 closed

[2018-02-12 10:38] jmini commented on #18
I had a look at the code. As far as can tell, the information is already present in the `ChangedXxxx` objects (`com.qdesrame.openapi.diff.model` package) instanciated by the compare engine. I could browse one `ChangedOpenApi` instance to see exactly what changed at property level.

I guess this issue is about having a nicer description in the report.

[2018-02-12 12:48] quen2404 commented on #18
Yes exactly ! The information is present in `ChangedXxxx` but not in result currently ! I have to develop the implementation in the `XxxxRenderer` classes.

[2018-02-12 13:20] jmini opened #25 "StackOverflowError with recursion"
_First of all, thank you for this work! I am evaluating if we will use it to detect breaking changes between two versions of our API and I think we will._

---

I have run your tool against the items provided in the test suite of this project: [Azure/openapi-diff](https://github.com/Azure/openapi-diff/)
(with some modifications, I can provide more details on my approach if you are interested)

By

[2018-02-12 15:03] quen2404 commented on #25
Thank you @jmini for this return. I was not thinking that could happen.
I looked your link to the  [Azure/openapi-diff](https://github.com/Azure/openapi-diff) project and I saw their rules part. It is a good idea to define explicitly how the behavior works. I will try to do the same work in my project.
Yes, I'm interested by your approach ! It will be cool if i could reuse the test suite of Azure

[2018-02-13 06:13] jmini opened #26 "Introduce check concept from "Azure/openapi-diff" project"
The project [Azure/openapi-diff](https://github.com/Azure/openapi-diff/) produce following output when two versions of a spec are compared: a list of items (error, warning, info) is computed.

Example:
[code]

The list of rules that are currently checked can be found in their git repository: [docs](https://github.com/Azure/openapi-diff/tree/master/docs)
I had a look at their test suite in this fol

[2018-02-13 06:19] jmini commented on #25
=> Lets discuss this in #26

---

Maybe a start (I did not looked precisely): [ExampleGeneratorTest.recursiveModelsTest()](https://github.com/swagger-api/swagger-codegen/blob/3.0.0/modules/swagger-codegen/src/test/java/io/swagger/codegen/ExampleGeneratorTest.java#L25).

[2018-02-13 07:23] adarshsharma commented on #25
@jmini you have mentioned the sample input for this issue to be reproduced. Is it both old and new spec or you were using any different new spec?

[2018-02-13 07:43] jmini commented on #25
I have tested it with the same spec as input for both old and new input (diff is expected to represent an empty diff that case).

[2018-02-13 07:52] adarshsharma commented on #25
Sure. I'll take a look at it.

On Tue, Feb 13, 2018 at 1:13 PM, Jérémie Bresson <notifications@github.com>
wrote:

[2018-02-13 09:23] adarshsharma commented on #25
Raised a PR https://github.com/quen2404/openapi-diff/pull/27 for this issue

[2018-02-13 10:29] quen2404 commented on #25
Thanks @adarshsharma for this fix ! 👍

[2018-02-13 10:29] #25 closed

[2018-02-13 22:51] quen2404 commented on #26
Hi @jmini, i'm looking the docs folder in Azure/openapi-diff. Currently their rules are for swagger 2.0, so i tried to upgrade them to OpenAPI 3.0.1 format. But I don't agree with some points of their rules.
For example, remove a component like parameter or schema in components, it's not always a breaking change. It is a breaking change only if a parameter in an operation is removed. We should con

[2018-02-14 06:33] jmini commented on #26
Thank you for your answer.

Of course I am not saying that the Azure team approach is right. Maybe some rules do not make sense. For the moment, the Azure team is not planing to use the OpenAPI 3.0.1 format yet. See: https://github.com/Azure/autorest/issues/2680 (if I understood everything correctly autorest is a dependency of the `Azure/openapi-diff` tool)

When I have modified their test suite i

[2018-02-14 08:18] quen2404 commented on #26
Ok, thank you. I will look that this noon.

[2018-02-16 11:45] jmini opened #29 "IllegalArgumentException: discriminator or property not found for oneOf schema"
I am doing a test with a schema containing a oneOf schema (see documentation [Data Models (Schemas) > oneOf, anyOf, allOf, not](https://swagger.io/docs/specification/data-models/oneof-anyof-allof-not/))

I think my specification is valid and makes sense (please do not hesitate to discuss it)

In this test case, one of the `oneOf` referenced schemas was removed between the old and the new version.

[2018-02-16 11:53] adarshsharma commented on #29
You are right about the schemas. They are valid specs. Currently we have implemented the code such that it expects discriminator field for oneOf type of ComposedSchemas because it would be  hard to deserialize the objects into concrete classes without the propertyName. It is somewhat similar to having Json Subtype and mentioning the field name using which you can deserialize your object.

[2018-02-16 11:57] adarshsharma commented on #29
And yes the below expectation is correct.
"My feeling is that a removal in the output is still backward compatible (GET Operation), and not in the input (POST Operation)."

[2018-02-19 08:32] jmini commented on #29
Thank you for the quick feedback. I had a look at the [discriminator object](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.0.md#discriminatorObject) in the specification.

The diff is working with those specs:

#### Old Spec:
[code]

#### New Spec:
[code]

#### Question

Did I understood your input correctly?

[2018-02-19 09:44] adarshsharma commented on #29
This seems fine. Only missing part seems to be the property name 'realtype'
in each of the schemas (A, B and C). Currently there is no strict check of
this property to be available in all the oneOf type of refs.

Thanks,
Adarsh

On Mon, Feb 19, 2018 at 2:02 PM, Jérémie Bresson <notifications@github.com>
wrote:

[2018-03-19 14:23] quen2404 opened #32 "Fully support additionalProperties in schema"
Currently, additional properties are supported only if it's a schema. We should support boolean value.

[2018-03-19 19:49] quen2404 commented on #29
Hi guys,
i have this problem for one API contract of my company. After some reflection, i think i will implement this solution if there isn't a discriminator:
Compare each schema (item 1 vs item 1, etc...) and notify if list length change.
What do you think about this ?

[2018-03-21 05:23] adarshsharma commented on #29
It seems fine if there isn't a discriminator. We just need to specify that
reordering of the objects will not be taken care by the diff.

On Tue, Mar 20, 2018 at 1:19 AM, Quentin Desramé <notifications@github.com>
wrote:

[2018-03-21 06:45] jmini commented on #29
In my case I have switched to the pattern with discriminator. I think it is good to have both solutions implemented.

[2018-03-26 09:23] jmini opened #33 "Spec transformation to stay backward-compatible"
_This is more a question or a feature request than a real issue._

We would like to try following approach:

---

Given two specifications (`old.yaml` and `new.yaml`) representing two versions (`v1` and `v2`) of an API. They are similar (say 90% for example) but there are braking changes between the two specs.

There could be a way to compute a second version of `old.yaml` (say `old2.yaml`) contai

[2018-03-26 10:09] jmini opened #34 "Compile against Swagger 2.0.0-SNAPSHOT"
The master branch uses the last rc release of `swagger-parser-v3` as dependency:

[code]

Maybe an other branch (`develop` or `swagger-snapshot`) could be added to this repository in order to use `2.0.0-SNAPSHOT` as dependency:

[code]

This way, when the next rc is released, the necessary work would already be prepared on this new branch.

The only breaking change I have found so far is:
https://

[2018-03-26 10:29] jmini commented on #34
Corresponding change is here: https://github.com/unblu/openapi-diff/commit/bf94811672924653a5394ae9657d7f1ddd482160

[2018-03-26 18:12] quen2404 commented on #34
Hi,
yes it's a good idea 👍
`swagger-snapshot` is a good idea !
But why are you removing `allowEmptyValue` change in Header ?

[2018-03-26 18:16] quen2404 commented on #33
Yes it's a good idea. A tool which automate the generation of a backward compatible contract could be useful.

[2018-03-26 18:33] jmini commented on #34
I think you need to create the branch. Otherwise, I can not submit a PR against it.

[2018-03-26 18:52] quen2404 commented on #34
Done.

[2018-03-27 06:08] jmini commented on #34
Pull Request: https://github.com/quen2404/openapi-diff/pull/35

[2018-03-27 06:15] jmini commented on #34
The corresponding pull request is here: https://github.com/swagger-api/swagger-core/pull/2693. Maybe you should ask there.

[2018-03-27 11:30] #34 closed

[2018-03-28 05:43] jmini commented on #34
Cool there is also CircleCI support for the `swagger-snapshot` branch: https://circleci.com/gh/quen2404/openapi-diff/tree/swagger-snapshot

[2018-03-28 05:49] jmini commented on #33
Thank you for your feedback.

Maybe a first step is to have the possibility to apply a diff result on a specification.
Take `spec1` and `spec2`: with the `ChangedOpenApi` object obtained with `OpenApiCompare.fromSpecifications(spec1, spec2)`, when its content is applied to `spec1`, I should obtain `spec2`.

[2018-04-11 09:29] jmini commented on #29
@quen2404
Did you made any progress on this?

I have a new case where I could use a solution without discriminator. I have a field that can return an `id` (as `String`) or an expanded `Object`. I think that the notation in OpenAPI is:

[code]

This is similar to what Stripe is doing in their [spec](https://raw.githubusercontent.com/stripe/openapi/master/openapi/spec3.json):
[code]
They are using `

[2018-04-11 10:09] jmini commented on #29
I will use a very quick & ugly fix for the moment.
If you have not started to work on it, I can propose something (just tell me).

---

I think a first step is to set `changedSchema.setDiscriminatorPropertyChanged(true)` if the discriminator is set in one spec and not in the other.

Then checking if one of the `oneOf` list is empty: this is currently implemented, but I think
that the current resul

[2018-04-11 13:08] quen2404 commented on #29
Hello, no i didn't start to work on this problem, so you can do it :)
Yes your logic is good.
About [1]:
Yes you can compare the list size, but i want to compare elements in the list too.
oldSchema.oneOf[0] against newSchema.oneOf[0] etc...

[2018-04-16 16:57] itsjavi commented on #33
Hi, first thanks for this amazing tool <3
I am planning to have a CI step/job in one of my projects to check for backwards incompatible changes between an old spec and new one.
Reading the documentation I am a bit confused about how to do that.

I am not interested in the output in that particular step, I only want `openapi-diff` to exit with 0 if there are no breaking changes or with an error if

[2018-04-16 17:46] jmini commented on #33
I would appreciate if you were using an other issue to ask a question, because this has nothing to do with this issue. I will be happy to discuss it with you and to help you.

[2018-04-16 17:53] itsjavi opened #36 "question: how to check if there are breaking changes from the command line?"
I am planning to have a CI step/job in one of my projects to check for backwards incompatible changes between an old spec and new one.
Reading the documentation I am a bit confused about how to do that without parsing the output "result" message.

I am not interested in the output in that particular step, I only want openapi-diff to exit with 0 if there are no breaking changes or with an error if

[2018-04-16 17:54] itsjavi commented on #33
@jmini yeah sorry. I opened an issue for that.

[2018-04-16 19:40] jmini commented on #36
The main method provided by the project `com.qdesrame.openapi.diff.Main` focuses on creating report.
As you can see in the code [Line 129](https://github.com/quen2404/openapi-diff/blob/master/src/main/java/com/qdesrame/openapi/diff/Main.java#L129), the return status check if there is a diff or not.

[code]

The class `ChangedOpenApi` (`result` is an instance of it) provides also a `isDiffBackwardC

[2018-04-17 04:49] quen2404 commented on #36
Hi,
@jmini i can update main method to return a new code if contract changed with backward compatibility (maybe with code 2 ?).
@itsjavi I can add a new option if you want that the tool failed when it broke the compatibility.

[2018-04-17 05:18] jmini commented on #36
@quen2404 that is what I mean with "I am not familiar with CLI tools"... I have no input on what is the most appropriate.

I guess the use case for checking for checking only for backward compatibility is:

* There is a diff but it is backward compatible => OK
* There is a diff that is not backward compatible => NOK

What you are suggesting is:

* No diff: Return code 0
* Diff and **not** backward

[2018-04-17 08:55] itsjavi commented on #36
Diff and not backward compatible: Return code 1
Diff that is backward compatible: Return code 2

Note that program exit codes different than `0` are commonly used for reporting errors, so the return code `2` for indicating a "successful" state would be inappropriate in this case.

I like the first solution you suggested:

There is a diff that is not backward compatible => NOK (exit code 1)

If you

[2018-04-17 13:39] quen2404 commented on #36
[code]
With `<state>`  in : `no_changes`,`imcompatible`,`compatible` (thanks for this proposition @itsjavi).
What to you think ?

[2018-04-17 13:48] itsjavi commented on #36
it sounds good 👍

[2018-04-17 15:35] jmini opened #37 "Update to version 2.0 of swagger-parser"
There will be a new release of the swagger parser soon.
https://github.com/swagger-api/swagger-parser/issues/683

It should be integrated on the `master` branch.

Version on branch [`swagger-snapshot`](https://github.com/quen2404/openapi-diff/tree/swagger-snapshot) should be updated to the next SNAPSHOT version

[2018-04-17 15:54] quen2404 commented on #37
Thank you for this information 👍

[2018-04-17 16:07] quen2404 commented on #36
Done in PR #38

[2018-04-17 16:29] itsjavi commented on #36
That's awesome! thank you =)

[2018-04-17 20:24] jmini commented on #37
Next SNAPSHOT version is: `2.0.1-SNAPSHOT`

[2018-04-17 20:32] quen2404 commented on #37
Yes but the this version doesn't exist currently

[2018-04-21 03:36] jmini commented on #26
There is a clear definition, how `collectionFormat` should be migrated from Swagger v2 spec to OpenAPI v3 spec. The new attributes are `style` and `explode`. See a conversion table in https://github.com/swagger-api/swagger-parser/issues/690.

Note: `swagger-parser` should do the conversion when https://github.com/swagger-api/swagger-parser/pull/696 is merged.

[2018-05-22 09:02] jmini commented on #37
Set version of swagger-parser on `swagger-snapshot` branch to `2.0.1-SNAPSHOT` => #45

[2018-05-22 09:04] #37 closed

[2018-06-05 07:13] jmini opened #48 "ExtensionDiff for operations"
I wanted to try `com.qdesrame.openapi.diff.compare.ExtensionDiff` introduced with #44.

We are using custom extensions in Operations, but it seems to me that `com.qdesrame.openapi.diff.compare.ExtensionsDiff.diff(Map<String, Object>, Map<String, Object>, DiffContext)` is only called in `SchemaDiffResult`.

---

Could the mechanism be extended to be called for other items supporting extensions:

(t

[2018-06-07 11:34] quen2404 commented on #48
Yes of course, it should be extended to all classes that can handle extensions...
It's only called in `SchemaDiffResult` currently because it was my only use case. Sorry for that !

[2018-06-07 11:42] jmini commented on #48
I had a quick look and I was wondering why it is called in `SchemaDiffResult` and not in `SchemaDiff#diff(..)`.

Because there is no `OperationDiffResult`, I had no clue where it should be added.

[2018-07-12 13:06] quen2404 commented on #48
Hi @jmini, i'm currently working on it !
it's on the PR #50

[2018-07-12 16:02] #48 closed

[2018-07-18 12:52] quen2404 opened #51 "Extension: find changes when nothing changed"
If an extension wrapped by `ExtensionDiff` doesn't change, diff tool will declare it as "compatible" instead of unchanged.

[2018-07-18 12:56] #51 closed

[2018-07-24 16:07] viclovsky opened #53 "Supports OpenAPi spec v2.0 / v1.2"
Thanks a lot for a great tool. I really want to use it in my projects but it is impossible because there is no support of older versions of OpenAPi spec: 1.2 and 2.0. Is there any plans to fix it?

[2018-07-24 16:47] quen2404 commented on #53
Hello viclovsky,
this is not currently scheduled but you can create a merge request if you need it quickly.
Else, i will try to do this by the end of week, but i'm not sure if i will have enough time to do that. And after, it's my holiday during two weeks.

[2018-07-24 17:30] viclovsky commented on #53
Xd xd xc  oxkl

[2018-07-25 08:57] quen2404 commented on #53
@viclovsky i made a PR #53 to add the support but it seems there is a problem with `swagger-parser-v2-converter`.
I opened an [issue](https://github.com/swagger-api/swagger-parser/issues/779) in this project.
But you can already try to use it if you checkout the branch `feature/support-swagger2`

[2018-07-25 09:44] jmini commented on #53
This will be a big limitation of this approach: When parsing an old spec, you compare the result of the Swagger-Parser-Converter, which does an on the fly conversation to OAS3.

I work a lot with the Parser (and the converter module) for the [OpenAPI-Generator](https://github.com/OpenAPITools/openapi-generator) project and there are a lot corner cases that needs to be fixed... But it gets better a

[2018-07-25 09:57] quen2404 commented on #53
Ok :) Thank you for your feedback @jmini !

[2018-07-25 13:55] viclovsky commented on #53
Thanks a lot,
Yep, I have already tried  it but sounds like I have some problems with it: it fails cause it can't translate my v2.0 spec into v3.0. Converter fails => diff fails.
1.  java.lang.IllegalArgumentException: Two path items have the same signature: `/some/api/method/{}`
But I don't have such signature at all!!! I have `/some/api/method/{id}, /some/api/method/{searchId},  /some/api/method

[2018-07-25 14:15] quen2404 commented on #53
You're contract seems invalid.
1. `/some/api/method/{id}` & `/some/api/method/{id}` is the same rest endpoint.
2. According to [specification]((https://github.com/OAI/OpenAPI-Specification/blob/master/versions/2.0.md), `info` is **required**

[2018-07-25 14:34] quen2404 commented on #53
Your contract isn't correctly designed.
You should have one path with two operations:
[code]

[2018-07-25 15:53] jmini commented on #53
at io.swagger.v3.parser.converter.SwaggerConverter.convert(SwaggerConverter.java:422)
If there is no 'info' in specification

is already reported as https://github.com/swagger-api/swagger-parser/issues/755, will be fixed in the next version of Swagger-Parser.

[2018-07-25 16:35] viclovsky commented on #53
Yep, thanks a lot!! I've found https://github.com/swagger-api/swagger-editor/issues/1677 ... Thus I'm planning to change my spec to fit it ))

[2018-07-31 08:35] jmini commented on #53
If you are interested, I have published an in-between release of `2.0.2-SNAPSHOT` that can be used until `2.0.2` is officially released:
https://github.com/OpenAPITools/swagger-parser/releases/tag/v2.0.2-OpenAPITools.org-1

[2018-08-23 08:17] chatelao opened #55 "Missing top-level "info:" crashes"
If the specification has no "info" the diff crashes.

[2018-08-23 08:29] quen2404 commented on #55
Could you give me the stacktrace of the crash ?
As written in the OpenAPI specification, `info` is required. So, i think it's the parser who refuse to parse the specification.

[2018-08-23 18:08] chatelao commented on #55
Yes, exactly. Sorry.

[2018-10-19 08:38] msnijder30 opened #58 "NullPointerException if schema is missing from content"
A `NullPointerException` is thrown if the `schema` is missing from the `content`

### The files
I have included a zip with two files, `broken-openapi.yml` which throws the nullpointer and `working-openapi.yml` which works as expected.

[openapi-examples.zip](https://github.com/quen2404/openapi-diff/files/2495009/openapi-examples.zip)

### What's different?
The difference between the files is that

[2018-10-19 09:06] msnijder30 commented on #58
Looking into the code the assumption is made in `SchemaDiff#diff` that `Schema left` and `Schema right` are not null, which in my case they are.

[2018-10-19 10:44] quen2404 commented on #58
Hello @msnijder30 ! Thank you for this report, and thank you too for the PR.
I will try to reproduce your problem

[2018-10-19 10:53] msnijder30 opened #60 "Description & summary of Operations not showing in changelog."
### Description
I've been testing what this library can and cannot do, and it appears that it does not keep track of `description` & `summary` of the [operations](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.0.md#operationObject)?

I have also tested this with the `description` of parameters, and they do update.

It does show the `summary` directly after the path of the op

[2018-10-19 11:09] msnijder30 commented on #58
Sure, let me know if you have any questions.

[2018-10-19 12:06] quen2404 commented on #60
What kind of changelog ? Html / Cli generation are not up to date, but markdown is.
The library keep track of changes in `description` & `summary`, but this is not reported in the changelog currently. I didn't show this kind of changes in the changelog because it's only descriptive data, not change in the API design.

[2018-10-19 12:08] msnijder30 commented on #60
I was using `HtmlRender`, I will do a test using `MarkdownRender`.

[2018-10-19 12:10] msnijder30 commented on #60
`description` is not showing up in `MarkdownRender` either, I think it would be nice to show those changes aswell, if possible

[2018-10-19 12:15] quen2404 commented on #60
Ok, in my company we only use the Markdown output. I will update HtmlRender to output the same details.
But as i mentionned in my previous response, this kind of changes are only descriptive.
I understand you want to see all changes in the changelog :) So as a compromise, we can add an option to output this kind of descriptive changes in the changelog !

[2018-10-19 12:17] msnijder30 commented on #60
That would be a great feature I think! Is something like that quick to implement?

[2018-10-19 14:15] msnijder30 commented on #60
Hi, I had some time and looked into the code and made something.

## What's new
I've added the classes `OperationMetadataDiff` and `ChangedOperationMetadata`. These classes keep track of changes made in `summary` & `description`.

I've also added the setting `showChangedMetadata` to `MarkdownRenderer`, which is `false` by default.
If enabled and if there are changes the markdown file looks as foll

[2018-10-19 15:52] quen2404 commented on #60
Thanks. I'll review this shortly

[2018-10-25 09:13] msnijder30 commented on #60
Any updates on the issue?

[2018-10-25 09:16] quen2404 commented on #60
Hello, i opened the project this morning !
I'm working on it !

[2018-10-25 12:57] quen2404 commented on #58
Fixed with commit [313b110](https://github.com/quen2404/openapi-diff/commit/313b1100b80a46f6281911640a3ae1b270f2d07f)

[2018-10-25 12:57] #58 closed

[2018-10-26 09:55] quen2404 commented on #60
I'm working on it in the branch [feature/summary-description](https://github.com/quen2404/openapi-diff/tree/feature/summary-description), but work is in progress.

[2018-10-26 14:06] msnijder30 commented on #60
That sounds good, I was interested in those items mostly but it seems only logical to do it for more items than just `Operation` indeed 👍

[2018-11-05 15:59] quen2404 commented on #60
Fixed with pull request #61 ! :smile:

[2018-11-05 15:59] #60 closed

[2018-11-05 16:16] quen2404 commented on #60
@msnijder30 i only add support in diff result, not on the ouput (markdown, html, console). Because i'm working on another branch to improve the output globally (not only for summary/description)

[2018-11-05 18:50] msnijder30 commented on #60
Okay, perfect! Thanks a lot for this feature.
I was also wondering if the latest snapshot build was available through maven but I was not able to find it on the snapshot repository, am I overlooking something?

[2018-11-05 18:53] quen2404 commented on #60
Snapshot version is not available currently 😐

[2018-11-05 18:55] msnijder30 commented on #60
Any idea when the next snapshot/official version release will be?

[2018-11-05 20:39] quen2404 commented on #60
Ii  don't know, i have some idea to improve code, and it will break the current api. So want to make this changes before release 2.0.0 ! Not big changes, but enoughts to break compatibility !

[2018-11-26 22:55] quen2404 commented on #53
Hi @peterwa82, i can try again :) But last time, there was some issues in the project `swagger-parser-v2-converter`

[2018-11-27 20:35] peterwa82 commented on #53
There may still be issues with it.  I tried converting a 2.0 spec but noticed the required attribute of my query parameters was left null, which is wrong and results in a null pointer exception later.

[2018-12-05 13:36] jmini commented on #53
@peterwa82 you need to report the issue you get in the https://github.com/OpenAPITools/swagger-parser project. With a simple example (OpenAPI v2.0) as input and with your expectation if the OpenAPI v3 is not the one you are expecting.

Here you will see a really simple java program to run swagger-parser independently:
https://j2r2b.github.io/2018/05/18/from-oas2-to-oas3.html

[2019-01-18 12:45] hellboy81 opened #63 "Cannot run on Windows"
[code]

[code]

[2019-01-18 13:02] quen2404 commented on #63
Hi, i think you are trying to run the wrong jar. You try to run the library jar which is not executable. Try with the .jar which ends with `with-dependencies`

[2019-02-19 12:29] jinta opened #64 "RequestBody changes with metadata only changes (i.e. description) causes nullpointer exception"
When specifiying a Markdown file output and only changing the description under a requestBody the application fails with a NullPointerException in this bit of code
[code]
It recognises the operation to have changed but the content of the getRequestBody is null in this scenario.

A potential fix is to have a null check in the bodyContent method i.e.:
[code]

[2019-02-19 17:22] quen2404 commented on #64
Hello @jinta ! Thank your for the issue. Fixed with PR #65

[2019-02-19 17:22] #64 closed

[2019-02-20 10:09] radup opened #66 "Wrong handling for components/headers in RefPointer"
Resolving ref in case of components/headers is constructing wrong map in RefPointer class:
`case HEADERS:
        return (Map<String, T>) components.getSchemas();`

[2019-02-20 10:40] radup commented on #66
btw, fix is trivial ofc: `case HEADERS:
        return (Map<String, T>) components.getHeaders();`

[2019-02-20 12:44] quen2404 commented on #66
Thank you for the feedback, fixed with PR #67 !

[2019-02-20 12:44] #66 closed

[2019-02-27 14:14] NikitaMarushkai opened #68 "IllegalArgumentException: "Invalid ref...", while having attribute with the same name in different 'components' sections"
Hello! Thanks for the nice util, but I faced one problem that doesn't make me possible to use this. I have the following API definition sections:

[code]
And the comparision of versions fails with the following exception:
[code]
I suppose that this happening because of my `parameters` and `schemas` sections have attributes with the same name.

[2019-02-27 14:44] NikitaMarushkai commented on #29
Hello guys! Have this been fixed already? Coz in version 1.2.0 the issue with missing discriminator is still exists

[2019-02-27 21:26] stt19 opened #69 "README Still References Original Project"
HTML Render difference still using swagger-diff's css.

I figure if you're going to try to pass off the original project's work as your own without giving it any credit, you may as well go ahead and make sure you host the css yourself as well.

https://github.com/Sayi/swagger-diff

Seriously lol... not even in thanks section of the README... smh

[2019-02-28 08:26] NikitaMarushkai commented on #68
Sorry, I guess this was my mistake, that's not about having different components in different sections, that error was because of me referencing `schemas` component from /get parameters section instead of referencing the `parameters`

[2019-02-28 08:26] #68 closed

[2019-02-28 08:57] quen2404 commented on #69
Yes html render use swagger-diff css. The css theme used in https://github.com/Sayi/swagger-diff was good, so why should i not use it ?
Please, look at the code before saying i steal the work of someone. I only used the project swagger-diff as source of inspiration to make this tool, but the project content is clearly different.
But you're right, i should add it in the README.

[2019-02-28 08:57] quen2404 commented on #69
Fixed with commit [2128208](https://github.com/quen2404/openapi-diff/commit/2128208579aa8fc7c5e249346a0d2622ef09bce0)

[2019-02-28 08:57] #69 closed

[2019-02-28 08:59] quen2404 commented on #68
Hi @NikitaMarushkai, thanks for the issue. It seems that your behavior is still a bug, could you give me a complete example ?

[2019-02-28 09:04] quen2404 commented on #68
Also, you should try with the version `2.0.0-SNAPSHOT`. A lot of bugs are fixed :smile:

[2019-02-28 09:07] quen2404 commented on #29
I think this is still an issue in version `2.0.0-SNAPSHOT`. I should work on it.

[2019-02-28 11:37] NikitaMarushkai commented on #68
Hi there! Is this version have a build, deployed somewhere or should I build a jar by myself?

[2019-02-28 12:17] NikitaMarushkai commented on #68
In details, this happened due to the following spec:
[code]
The validation of this schema by your tool fails with the exception, which I mentioned above.
But if i change this to:
[code]
It passes validation fine, but I'm not sure that this should be treated as a bug, because as it is showed up, my swagger can't render this field in the web view as well.

[2019-02-28 13:37] quen2404 commented on #68
Ok, i understand ! Thank you ! :+1:
So, you're right, not a bug !

[2019-04-03 16:43] sah4ez opened #71 "NPE for APIResponseDiff"
Thank for you excellent tool!
When I tried compare two my swagger files, I got an error:
[code]

[code]
I see in debugger and found that in method `diff` variable `left` equal to `null`.

[2019-04-05 07:58] sah4ez commented on #71
I had a typos in my swagger file, in old version. I missed `s` in `responses` for the one path. After fixing all work good, but I didn't see human readable notification about typos...

[2019-04-18 13:25] chatelao opened #73 "Export Normalized Values"
Is there any way to export both, fully normalized schema?

I would like to compare them as "text only" :-)

[2019-08-15 14:40] gmcelhoe opened #93 "openapi-diff library includes a logging implementation"
It would allow easier reuse if the command-line main was in a different JAR then the library that does the differencing.

There have not been any commits recently, is this project still under development?

[2019-08-19 13:20] quen2404 commented on #93
Hi @gmcelhoe,
sorry for the late, it was my holidays.
Yes this project is still under development but i don't have a lot of time to dedicate to it...

About splitting cli main & library, yes it could be a good idea.

[2019-08-19 13:21] gmcelhoe commented on #93
Hope you had a good time!  Good to hear about the project, I will create a pull request and we can discuss it further.

Glenn

[2019-08-19 13:22] quen2404 commented on #73
Hi @chatelao,
i'm not sure about what you talking about.
Compare them as text only ?

[2019-08-19 13:22] quen2404 commented on #71
Hum, you should probably use another tool to check that your swagger is compliant to specification

[2019-08-19 13:23] #63 closed

[2019-08-19 15:12] #71 closed

[2019-08-19 16:54] chatelao commented on #73
I would like to export something like a schema with all without refs (i.e. all of them resolved) and somehow sorted in a way I could make a "plain-text" compare and understand the context.

[2019-08-19 19:10] gmcelhoe commented on #93
#94 seems like a logical first step for dividing the cli and library concerns.

[2019-08-20 09:28] quen2404 commented on #73
If you want to text compare yours contracts, why don't use a simple diff tool ?

[2019-08-20 20:48] chatelao commented on #73
After a refactoring I need a way to normalize the contracts to make them first comparable. Depending on the $ref used, they may look very different.

[2019-09-27 13:39] eelessam opened #104 "Doesn't take pattern field into account"
Hi I have the following contract

[code]
To reproduce:

When I compare it with another contract that has a stricter pattern on the REGEX for example only numbers or only lower case, the change is not detected by the diff tool.

Expected behaviour:

It shows that the regex has changed and thus is a breaking change

[2019-10-07 17:45] thiagoarrais commented on #18
Is this still useful? I'm interested in working on a PR.

[2019-10-23 13:56] cminini commented on #18
Looking forward to this feature. Thanks @thiagoarrais

[2019-10-23 14:45] thiagoarrais commented on #18
@cminini: have you taken a look at my PR? I'd really love some feedback.

[2019-11-24 20:38] plipp opened #111 "Please publish a fresh maven release"
Hi,
we use openapi-diff actively in our projects to find breaking API changes and found out that in version 1.2. NullPointerExceptions can happen in case of incompatibilities. Additionally with 1.2 we have to tweak especially the io.swagger.parser.v3 version in our pom to avoid conflicts. Both  is fixed in the master.

Thus it would be great to have a newly tagged maven release in the mvnrepositor

[2019-12-10 13:38] michalchmura commented on #18
This would be greatly appreciated!

[2019-12-10 17:20] mspiegel31 commented on #111
any progress on this?  We are running into a similar issue as well.

[2019-12-11 12:57] thiagoarrais commented on #111
I'm not sure this repo is active any longer. Has anyone contacted @quen2404 on transferring ownership?

[2019-12-11 12:59] thiagoarrais commented on #111
By the way, this is the best openapi differ around. And I don't say this lightly as I have evaluated some differs from some big players.

[2019-12-11 14:45] plipp commented on #111
I tried to contact @quen2404 <https://github.com/quen2404> directly by mail
- unfortunately no response.
I really would like to take over and now consider to continue on a fork...

Am Mi., 11. Dez. 2019 um 13:57 Uhr schrieb Thiago Arrais <
notifications@github.com>:

[2019-12-11 16:25] quen2404 commented on #111
Sorry everyone! I'm a little busy these days.
I saw your mail @plipp, sorry for the delay !

[2019-12-11 16:27] quen2404 commented on #111
This project is not dead, i'm still using it. I will take time to merge the current pull requests

[2019-12-11 21:07] plipp commented on #111
BTW: I completly agree with @thiagoarrais :
This is also the best openapi-diff implementation, I could find, and I like its clear coding style much.
Therefore I'm really happy, that it is not discontinued.

[2019-12-12 12:25] thiagoarrais commented on #111
It is great hearing back from you @quen2404!

[2019-12-13 09:45] fanchen1988 commented on #29
Hi @quen2404 , is this fixed? or when will it be fixed? I still can reproduce this with the docker image

[2019-12-26 10:23] ghostbody opened #114 "missing execution field in pom.xml in release 1.2.0"
execution field is missing in pom.xml in release 1.2.0 and the `with-dependency` jar is missing in the target.

[code]

[code]

[2020-01-07 16:31] mspiegel31 commented on #111
@quen2404 any plans on doing this?  I still only see 1.2.0 [in maven central](https://search.maven.org/search?q=g:com.qdesrame).

don't mean to be a nag;  we really like this tool but would like to benefit from some of the changes/fixes in 2.x!

[2020-01-08 14:23] quen2404 commented on #111
Hi guys, today i'm currently working in this project.
I merged some pull requests, but i want to merge the #94 before release 2.0.0 because it's a realy big breaking change and i don't want to have to release a 3.0.0 soon after the 2.0.0.
I hope you understand that.

[2020-01-16 14:47] kdarkhan opened #124 "Stackoverflow error with cyclic references involving allOf"
Given this schema definition
[code]

and running `openapi-diff spec.yaml spec.yaml` I get stack overflow error
[code]
The problem occurs only with `allOf`. Replacing it with `oneOf` fixes the problem.

[2020-02-03 12:19] elibracha opened #129 "adding option to ignore user specified changes"
Hi,

I think that an option to let user ignore some changes would be nice, like letting the user define a yaml file with all the ignore changes he would like. and not fail if the changes are ignored.  I am willing to help with this and create the necessary modules.

Would you be interested in this ?

[2020-02-05 14:05] binaryunary opened #130 "Please update the available Docker image in DockerHub to the latest state"
Hi, and thank you for creating this tool. Would it be possible to update the publicly available Docker image and perhaps include this process into the CI pipeline?

[2020-02-28 09:28] KuzinGit commented on #71
Think it is helpful for cases when RequsetBody is added or removed from request, In this case NPE occurs, but schema is valid.

[2020-03-24 11:23] trohrberg opened #136 "Invalid backward compatibility result for new read-only property in PUT operations"
Hi, thank you for creating this tool which helps us a lot in our project. We noticed the following deviation between the tool's responses concerning backward compatibility and our expectation. I would like to discuss that here to see if you agree with our perspective:

We consider the addition of a new read-only property into an API model as a breaking change for PUT operations. A client not knowi

[2020-03-26 05:58] Kjens93 opened #138 "Add documentation for detectable breaking/non-breaking changes"
We are using this library to power a GitHub Action that generates a backward compatibility report between two versions of an OpenAPI spec. We love this library, but it is not clear what changes are detectable by this library, and what changes this library classifies as "breaking" or "non-breaking" changes. It would be really valuable to us if this repo could include a markdown file outlining all t

[2020-03-27 16:15] KevinMitchell opened #139 "Reference resolved against wrong components."
I have two APIs, `Old` and `New` say.  In `Old` there's a reference to a schema `S` that generates an error in the `RefPointer` class when it tries to resolve the reference, even though the API defines this schema..  But in API `New` there is no such schema.  When I add some debug code to `RefPointer::resolveRef` I see that it's trying to resolve the reference in `Old` with the schemas from `New`,

[2020-03-28 16:38] KevinMitchell commented on #139
It looks like the method `Schema resolve(Schema schema)` in HtmlRender is being called with a schema from the old API but it then tries to resolve it using the components from the new API.  So should this method never be called with a schema from the old API?  Or should the method pick the correct components for the schema, rather than being hardwired to just use the new API components?

[2020-04-17 07:30] RichardSieg opened #144 "Stackoverflow Error with cyclic reference and adding new property"
Hi there!

When we have a cyclic reference and one of the properties gets renamed, the tool throws a Stackoverflow Error.

Here is a minimal working example. The only thing that differs between those two is the new property `propname2` in B.

**Old yaml**
[code]
**New yaml**
[code]
Beginning of the output:
[code]

[2020-05-11 15:50] cen1 opened #150 "Publish jar-with-dependencies to maven"
By publishing jar-with-dependencies build to maven it is possible to use this as a plugin dependency in maven exec plugin and testing API breakage during the test phase and similar. A dedicated maven plugin would be nice obviously but it is a start.

[2020-05-11 20:21] mpokryva commented on #138
This would be really great. I'd like to use this tool, but I have no idea if I'd need to extend it to fit my use case. Is there any plan to write docs for this?

[2020-05-20 07:36] lehphyro opened #152 "Provide a maven plugin"
It'd be nice to be able to run this tool in a maven build and make it fail it if non-backwards compatible changes are found.

[2020-06-23 12:38] joschi commented on #150
You can find a self-contained JAR of openapi-diff (or rather of a fork) at https://repo1.maven.org/maven2/com/github/joschi/openapi-diff/cli/2.0.0-beta.1/cli-2.0.0-beta.1-jar-with-dependencies.jar.

See also: https://search.maven.org/search?q=g:com.github.joschi.openapi-diff

[code]

[2020-06-23 12:40] joschi commented on #111
See https://search.maven.org/search?q=g:com.github.joschi.openapi-diff for an up-to-date release (of a fork of this project).

You can find a self-contained JAR of openapi-diff at https://repo1.maven.org/maven2/com/github/joschi/openapi-diff/cli/2.0.0-beta.1/cli-2.0.0-beta.1-jar-with-dependencies.jar.
[code]

[2020-06-23 12:41] joschi commented on #93
See https://search.maven.org/search?q=g:com.github.joschi.openapi-diff for a release of split artifacts (core functionality and CLI) of a fork of this project.

[2020-06-23 12:42] joschi commented on #130
See https://hub.docker.com/r/joschi/openapi-diff/ for an up-to-date Docker image of openapi-diff (forked from this project).

[2020-07-06 08:37] jlamaille opened #154 "NPE with description empty in contract"
When i run diff with empty description in my contract, there is NullPointerException.
I'm gonna fix this anomaly with a sweater request right now.

[2020-07-08 15:13] jlamaille commented on #154
Fix in #155

[2020-08-11 15:07] joschi opened #157 "Activity of this project – Fork"
Hi everyone,

it currently looks like the development activity in this project has stalled. The last commit was on January 8, 2020 (443246ff8c521a8091f5a7f6f6b452303198958a) and issues and PRs don't seem to be addressed.

I've tried to contact @quen2404 via email but unfortunately didn't receive a response.

So I've forked this project, applied many of the open PRs and added some other bugfixes, a

[2020-08-17 08:18] quen2404 commented on #157
Hi Joshi,
Thank you for your investment in this project. As you can see, i'm not very active on this project.
I'm currently working with openapi-tools organization to integrate this repository. So soon, it should be more active.
Sorry, i didn't read your email, which address did you use ?
If you want, i can add you as a contributor to this project

[2020-08-17 20:23] joschi commented on #157
Hi Quentin, thank you so much for your response!

I've been using the email address listed in your GitHub profile: quen2404@gmail.com
The mail was sent on May 22, in case you want to check the Inbox or the Spam folder. 😉

With @OpenAPITools getting involved, how should we move on with this repository?
In https://github.com/joschi/openapi-diff, I've merged quite a few of the open pull requests of t

[2020-08-27 11:19] joschi commented on #154
Fixed in 0d8662f0265c191df8f3dc876d15308be6ee6679.

[2020-08-27 11:19] #154 closed

[2020-08-27 11:23] joschi commented on #29
Fixed in 726740a8c2d95d6aaaafbd9efe4cbc7a54f72b46.

[2020-08-27 11:23] #29 closed

[2020-08-27 11:27] joschi commented on #93
Fixed in 9ec02909a68b80f104c7ba5b8c29311e77da8684.

[2020-08-27 11:27] #93 closed

[2020-08-27 11:38] joschi commented on #53
Fixed in 7734db057df34f5f5283fc00473fb50af3e1560d.

[2020-08-27 11:38] #53 closed

[2020-08-27 11:40] joschi commented on #136
@trohrberg Thanks for reporting this!

Would it be possible for you to open a pull request in this repository based on https://github.com/trohrberg/openapi-diff/commit/25bd1544c70832a68a3f80da28b92c7ad285d886?

[2020-08-27 11:48] joschi opened #165 "Migrate openapi-diff artifacts to OpenAPITools (Maven & Docker)"
After this repository has been successfully moved to @OpenAPITools, we should make the artifacts available under the OpenAPITools name.

This includes the Maven artifacts (currently [`com.qdesrame`](https://search.maven.org/search?q=g:com.qdesrame) and [`com.github.joschi.openapi-diff`](https://search.maven.org/search?q=g:com.github.joschi.openapi-diff) and the Docker images (currently [`quen2404/

[2020-08-27 11:49] joschi commented on #157
@quen2404 Thanks for moving the repository to @OpenAPITools and merging my changes!

I'm going to close this ticket since the open issues have been addressed.

I've created #165 as a follow-up issue to address moving the openapi-diff artifacts to the organization.

[2020-08-27 11:49] #157 closed

[2020-08-31 06:24] jmini commented on #165
About the maven coordinates, we had similar thoughts about the [OpenAPI Style Validator](https://github.com/OpenAPITools/openapi-style-validator) project. See corresponding issue: https://github.com/OpenAPITools/openapi-style-validator/issues/10

----

For the `groupId`, I think `org.openapitools.openapidiff` should be used.

For the `artifactId`, I would like to use a `openapi-diff-` prefix

----

[2020-08-31 06:27] jmini commented on #157
I have create a Slack channel for `openapi-diff` in the OpenAPITools Slack:
https://openapi-generator.slack.com/archives/C01A5503T2M

I will update the README of this repo later today.

[2020-08-31 06:27] jmini commented on #111
Will be solved with:
https://github.com/OpenAPITools/openapi-diff/issues/165

I am closing this for now.

[2020-08-31 06:27] #111 closed

[2020-08-31 06:29] jmini commented on #150
See https://github.com/OpenAPITools/openapi-diff/issues/152

The official `2.0.0` version will be published when https://github.com/OpenAPITools/openapi-diff/issues/165 is solved.

I am closing this for now.

[2020-08-31 06:29] #150 closed

[2020-08-31 06:32] jmini commented on #130
Now that the project is moving to the `OpenAPITools` org, this will be solved with https://github.com/OpenAPITools/openapi-diff/issues/165.

I am closing this for now.

[2020-08-31 06:32] #130 closed

[2020-09-11 00:38] nhoughto commented on #129
I think this is similar to what I was thinking.

My use-case is to diff prod spec vs development spec and assert no breaking changes and fail the build if breaking changes, but in the case that we _expect_ a breaking change it would be nice to be able to flag it so the build doesn't break.

[2020-09-13 08:05] ahoehma opened #170 "Two path items have the same signature - must include Http-Method into check"
Hi,

I think I found a little bug in the diff algorithm ... please correct my if I'm wrong 😃

My schema contains something like this:
GET /api/vi/configuration/{configurationId}
POST /api/vi/configuration/{productId}

If run the diff then I got an error because of found more then one "/api/vi/configuration/{}".

I tried to fix this by adding an additional check:
[code]
to
[code]
to com.qdesrame.op

[2020-09-13 12:56] joschi commented on #170
@ahoehma Thanks for reporting this!

Could you please post a minimal but valid excerpt of your OpenAPI specifications (old and new) so that we can reproduce the issue?

[2020-09-13 22:38] nhoughto commented on #129
Near as I can tell this would be a change to the CLI code / the thing that uses the ChangedOpenApi result object, the actual comparison itself you wouldn't want to change just how you interpret it. For example you likely still want to show that there is a change, just flag it with `* ignored` or similar. Which you should be able to derived from the Changed result obj and the objects it holds (hope

[2020-09-14 10:57] Oxydation commented on #170
Hello,
I`ve run into the same exception and have attached (as requested) a valid excerpt of a OpenAPI spec (reduced to the essential parts). You can use this as old and new file. The diff algo does seem to ignore the naming of the params, here "deviceId" for one and "dashboardId" for the other when comparing the paths.

[swagger_old_small.txt](https://github.com/OpenAPITools/openapi-diff/files/521

[2020-09-15 10:33] trohrberg commented on #136
Hello joschi,

I already provided a pull rqeuest for this issue (https://github.com/OpenAPITools/openapi-diff/pull/137) and that PR has already been merged. However, I did not check the latest version yet and if the problem is completely solved now. I will do that soon, but you may close this issue anyways.

Best regards
Timo

[2020-09-15 11:40] joschi commented on #136
Resolved in #137.

[2020-09-15 11:40] #136 closed

[2020-09-21 12:04] joschi commented on #165
@quen2404 @jmini @wing328 After preparing the move to the suggested Maven coordinates, who would be able to set up the automation for releases to Maven Central and to the Docker Hub organization?

[2020-09-21 22:19] gsdatta opened #174 "De-Lombok the project"
Hi, would you be open to using delombok (either at build time or on the entire codebase) from this project? Lombok makes it incompatible with Kotlin (see https://stackoverflow.com/questions/35517325/kotlin-doesnt-see-java-lombok-accessors/35530223#35530223) from the Kotlin team.

Lombok provides already a de-lombok tool https://projectlombok.org/features/delombok that could be used for this, which

[2020-09-22 07:07] quen2404 commented on #174
Hi @gsdatta, lombok was using to simplify development. But if this tool is problematic for Kotlin users, we can remove it :)

[2020-09-22 21:27] gsdatta commented on #174
Thanks @quen2404!

[2020-09-23 17:07] joschi commented on #174
@gsdatta Wouldn't this only affect you if you wanted to use the annotated POJOs as source files in your project? It should work without a problem if you're using `org.openapitools.openapidiff:openapi-diff-core` as a dependency in your projects.

Did you run into the problem you've described with `openapi-diff`?

[2020-10-05 00:43] xuorig opened #176 "Support oneOf without $ref references"
Hey folks, I was trying to diff two large OpenAPI descriptions and I could not get it working due to this exception:

[code]

It's coming from here: https://github.com/OpenAPITools/openapi-diff/blob/master/core/src/main/java/com/qdesrame/openapi/diff/core/compare/schemadiffresult/ComposedSchemaDiffResult.java#L101-L104

I noticed it seems to expect that the schemas under `oneOf` are references, an

[2020-10-05 12:13] joschi commented on #174
@gsdatta Any additional input?

[2020-10-10 12:54] jimschubert commented on #165
Why the recommendation for group `org.openapitools.openapidiff`? This means we would have to go through the entire onboarding process with Sonatype again. Can we just keep it `org.openapitools`?

[2020-10-10 12:55] jimschubert commented on #165
If we agree to change maven to `org.openapitools`, I can set these up. I unfortunately don't have enough bandwidth to work through onboarding another Maven project and managing separate creds.

[2020-10-10 16:11] jimschubert commented on #165
I've setup https://hub.docker.com/repository/docker/openapitools/openapi-diff as an automated build:

* master ->`openapitools/openapi-diff:latest`
* Tag matching regex `/^[0-9]\.[0-9]\..*$/` ->`openapitools/openapi-diff:{tag}` where `{tag}` matches the tag being built

I've kicked off builds for each of the following 2.x tags, since the 1.x tags did not include a Dockerfile:

* 2.0.0-beta.1
* 2.0

[2020-10-11 10:23] joschi commented on #165
Accounts having permissions to publish artifacts in the group `com.example` on Sonatype OSSRH also have permissions to publish artifacts in any sub-group, for example `com.example.submodule1`.

[2020-10-11 12:55] jimschubert commented on #165
Interesting. I probably knew this, but forgot. I guess `org.openapitools.openapidiff:openapi-diff` is good, but does seem a little redundant to me. I'll ping @wing328 for his opinion.

[2020-10-12 14:18] wing328 commented on #165
After reviewing the discussions, I'm also ok with either.

[2020-10-12 14:51] joschi commented on #165
`org.openapitools.openapidiff` would be consistent with [`org.openapitools.empoa`](https://search.maven.org/search?q=g:org.openapitools.empoa) and [`org.openapitools.openapistylevalidator`](https://search.maven.org/search?q=g:org.openapitools.openapistylevalidator).

@jimschubert Ultimately it's up to you. We could try it with the regular credentials for Sonatype OSSRH which you mentioned and see

[2020-10-12 18:22] jimschubert commented on #165
@joschi Let's go with `org.openapitools.openapidiff`. I'm assuming we'd be releasing similar separate artifacts to the validator project:

* core library
* cli
* maven plugin
* gradle plugin

And it may make sense to have these all grouped under `org.openapitools.openapidiff` to avoid confusion with openapi-generator.

My initial hesitation was with regards to maintaining additional credentials, w

[2020-10-12 20:02] joschi commented on #165
@jimschubert Thanks a lot!

GitHub workflows is fine for me.

[2020-10-13 03:21] jimschubert commented on #165
@joschi I've setup the master, pr, and release workflows in #181
The build workflow was using your GitHub action, which targets AdoptOpenJDK. I think we should use github's official action so we have the same for the Release workflow, otherwise there's a lot of manual setup we'd need to do. They're releasing support for AdoptOpenJDK in their v2 action.

[2020-10-13 06:02] joschi commented on #165
`joschi/setup-jdk` supports the same parameters as `actions/setup-java`. It's a drop-in replacement. 🤷

https://github.com/joschi/setup-jdk#publishing-using-apache-maven

[2020-10-13 21:35] Sourabh25 opened #182 "Getting a runtime error while trying to compare two yaml file"
getting the below error:

[code]

both are valid yaml file.

[2020-10-14 01:56] jimschubert commented on #182
@Sourabh25 can you provide minimal reproducible specs for new and old specs, as well as how you're invoking?

[2020-10-14 02:04] Sourabh25 commented on #182
@jimschubert I was not able to attach the .yaml files as this type is not supported to be uploaded.
here is the content of the file

 spring:
  application:
    name: xyz
  cloud:
    config:
      enabled: true
      failFast: true
      label: master
      uri: "http://configserver001.dt-u2.cf.abc.net"
  profiles:
    active: dev

Please find below the code

`public class App {

    public stati

[2020-10-14 02:13] jimschubert commented on #182
@Sourabh25 this project compares [OpenAPI Specification](https://spec.openapis.org/oas/v3.0.3.html) documents. What you've provided is a spring yaml configuration. I'd recommend finding your OpenAPI document(s) and try again, and this should solve your issue.

[2020-10-14 02:33] jimschubert commented on #165
I didn't mean to close this automatically when the pull request was merged.

[Pull Request check job](https://github.com/OpenAPITools/openapi-diff/runs/1250994613) and new [master build job](https://github.com/OpenAPITools/openapi-diff/actions/runs/305550123) look good. I only had to make a couple minor changes to these.

If you can double-check:
I _think_ all that's required now to publish to Son

[2020-10-14 09:12] joschi commented on #165
@jimschubert Thanks for all the effort!

I've picked up where you left and made the release workflow work and fixed the Docker build.

Here's the successful run for releasing openapi-diff 2.0.0-beta.5:
https://github.com/OpenAPITools/openapi-diff/runs/1252425534

[2020-10-14 11:56] jimschubert commented on #165
Awesome. I wonder why the alpine base image decided to stop working.

Let me know if I can help out in any other ways.

[2020-10-14 12:37] Sourabh25 commented on #182
okay with open api spec yaml file this is working.

[2020-10-14 12:38] #182 closed

[2020-10-14 12:43] joschi commented on #165
The name of the shaded artifact (UberJAR) changed. So it was a totally self-inflicted breakage.

https://github.com/OpenAPITools/openapi-diff/commit/3a1ef030b68359886d91c8df90c7b063df5171b0#diff-dd2c0eb6ea5cfc6c4bd4eac30934e2d5746747af48fef6da689e85b752f39557L8-R8

[2020-10-16 09:54] hiddewie commented on #174
I think I ran into this problem today in Kotlin when deserializing a full `ChangedOpenApi` object which is exposed over HTTP as JSON. There is no contructor available, which would normally be added by Lombok (`@Data`).

Using Spring Boot 2.3, Jackson Serialization (with Kotlin support).

Example test case:
[code]

Example test output:
[code]

[2020-10-16 11:59] elsewhat opened #186 "Add official Github action for openapi-diff"
Openapi-diff is well suited to be integrate into Github actions in order to:
- Highlight breaking in a pull request
- Document changes in OpenAPI
- etc.

For example, today we have an internal github repo which on every commit triggers generating Redoc OpenAPI documentation and publishes it to Github pages for the repository. In this documentation we'd like to include a openapi-diff markdown repor

[2020-10-16 15:16] #174 closed

[2020-10-17 01:44] jimschubert commented on #165
Ahh... I completely missed that the `cli-*-all` part of the glob was different from the original name. I tested locally and verified that the original name and the glob matched against my build outputs, but I guess I hadn't cleaned since the change.

[2020-10-19 07:43] joschi commented on #165
With the release of openapi-diff 2.0.0-beta.6  (https://github.com/OpenAPITools/openapi-diff/runs/1273814348) with the correct Docker and Maven coordinates and the correct Java package names, I think we can close this issue.

Thanks @jimschubert, @jmini, @wing328, and @quen2404 for your support!

[2020-10-19 07:43] #165 closed

[2020-10-20 09:50] hiddewie opened #189 "Feature: compatibility detection for Operation ID"
At the moment, there is no change detection for operation IDs. Changing an Operation ID can break API clients, because the operation ID is usually the way to refer to a specific operation.

Example test case:

Before
[code]

After
[code]

The output contains no changed operations, while the ID changed.

I am willing to create a pull request to add this feature.

[2020-10-22 10:29] joschi commented on #189
@hiddewie This sounds like a good improvement.

It be great if you could provide a pull request for the implementation. 😄

[2020-10-22 10:30] joschi commented on #114
This has been resolved in #153.

[2020-10-22 10:30] #114 closed

[2020-10-22 14:39] hiddewie commented on #189
Great! #191 contains the PR

[2020-10-23 12:03] Echronix opened #192 "Refactoring a schma with "$ref" results in false positive breaking change"
**The bug**
When splitting a schema into two schemas where one refers with allOf to the other the diff shows breaking change, even if the end structure is the same.

**To Reproduce**

Example schema old.yaml:
[code]

Example schema new.yaml:
[code]

Result of `docker run -v $(pwd):/tmp openapitools/openapi-diff:latest /tmp/old.yaml /tmp/new.yaml`:
[code]
**Expected behavior**
The tool is expected

[2020-11-20 08:58] julienrf opened #198 "False positive breaking change reported when removing an optional field from a response"
I’ve noticed that removing an optional field from a response is flagged as a breaking change.

<details><summary>Old OpenAPI document</summary>
<p>

[code]

Note the presence of the optional field `timestamp` in the `counter.Counter` component.
</p>
</details>

<details>
<summary>New OpenAPI document</summary>
<p>

[code]

Note that the field `timestamp` is absent from the `counter.Counter` compon

[2020-11-20 09:04] julienrf opened #199 "False negative when adding a new response status code to an endpoint"
Adding a new possible response status to an endpoint is not flagged as a breaking change.

<details>
<summary>Old OpenAPI document</summary>
<p>

[code]

Note that the endpoint `GET /counter` can only return statuses 200, 400, or 500.

</p>
</details>

<details>
<summary>New OpenAPI document</summary>
<p>

[code]

Note that the endpoint `GET /counter` can now also return a 404 status.

</p>
</deta

[2020-12-04 15:55] hasufell opened #200 "Doesn't work: JsonParseException: Unrecognized token 'openapi': was expecting (JSON String, Number, Array, Object or token 'null', 'true' or 'false')"
input files: https://gist.github.com/hasufell/1ae28db2326569d885c1e580515dc2f6

Full error:

[code]

[2020-12-06 23:38] joschi commented on #200
@hasufell Thanks for reporting this!

I think the reason for this rather unhelpful error message is the use of merge keys (`<<: ...`) in the OpenAPI specification you've linked to.

[YAML merge keys](https://yaml.org/type/merge.html) are not very well specified and not very well supported by Jackson (`jackson-dataformat-yaml`).

Multiple sequential merge keys on the same level are generally a prob

[2020-12-06 23:43] #189 closed

[2020-12-07 10:01] hasufell commented on #200
I applied the patch and now I get:

[code]

Note that I have proof that the schema is entirely correct:

[code]

[2020-12-17 17:10] julienrf commented on #198
Would you be interested if I contribute a PR to fix this issue?

[2021-01-11 18:42] gsdatta commented on #176
Seeing the same issue here

[2021-01-13 09:31] davidpearceoracle opened #207 "Show additions / changes to schema body"
Is it possible to show non-breaking changes (i.e. added fields) to the schema body?
The current output simply states "changed body: 'application/json'"

If I reverse the comparison I get a message:
Changed body: 'application/json'
Missing property: [n].id (integer)

So a useful message would be:
Changed body: 'application/json'
**Added** property: [n].id (integer)

![image](https://user-images.git

[2021-01-13 12:12] jahanarun opened #208 "Get only the changed API info"
Hi,

I would like to know if there is a way to get the compatibility result based only on the API that changed and not worry about the deleted APIs.

[2021-01-14 18:23] gmcelhoe commented on #198
There is another way to look at -- if "optional" meant that sometimes the field is returned and sometimes it isn't (based on the attributes of the request or environment), then removing the field could break existing clients that were coded to expect it (even though the spec says that they shouldn't have).

So although you can assert in your case it is not a compatibility problem in your client, i

[2021-01-14 20:34] cen1 commented on #198
It can be even more complicated. For example, Confluent Schema Registry defines several compatibility types: https://docs.confluent.io/platform/current/schema-registry/avro.html#compatibility-types

Nothing to do with OpenAPI but a related concept worth looking at.

[2021-01-15 13:13] julienrf commented on #198
Shouldn’t this be modeled with a `oneOf` then?

[2021-02-03 23:23] TenOs opened #212 "[bug] support of breaking changes for "anyOf""
So I've been tested _openapi-diff_ to see if we can use it in our CI/CD pipeline to prevent any breaking changes from happening.
After running a few tests I've noticed that it doesn't seem to support `anyOf` correctly.

See the two openapi files attached. Basically the endpoint returns a response which either `ResponseA` or `ResponseB`. New file removes a required property from `ResponseA` and _op

[2021-02-05 13:43] matthieugeerebaert opened #215 "HtmlRender reports far less informations than MarkdownRender"
Markdown output got all changes, but Html is missing new optional properties / descriptions

[2021-02-11 11:19] daniasuheimat opened #216 "Doesn't detect change in API"
I've been using openapi-diff to provide a summary output for any breaking changes happening in our CI/CD pipeline, and it doesn't seem to be detecting some of the changes, for example this one:

**old.yaml:**

[code]
**new yaml:**
[code]

(The removal of the etime property is a breaking change, but the output of the openapi-diff tool is "_No differences. Specifications are equivalents_")

[2021-02-28 16:24] joschi commented on #216
@daniasuheimat Thanks for reporting this!

Could you please provide the full OpenAPI spec or at least a minimal OpenAPI spec to demonstrate your issue?

[2021-02-28 17:05] joschi commented on #212
Diff:
[code]

[2021-02-28 17:08] joschi commented on #198
Diff:
[code]

[2021-03-10 17:35] kotsaris commented on #170
Just stumbled on this bug myself. Triple checked the available endpoints and no duplicates.
Same endpoint exists for two different HttpMethods
GET /businessunits/{id}
PUT /businessunits/{name}

Error: Reason: Two path items have the same signature: /businessunits/{}

[2021-03-30 13:40] Yayan89 commented on #200
We are also witnessing the same error with version
plugins {
    id "org.openapi.generator" version "5.1.0"
}

com.fasterxml.jackson.core.JsonParseException: Unrecognized token 'openapi': was expecting (JSON String, Number, Array, Object or token 'null', 'true' or 'false')
 at [Source: (String)"openapi: 3.0.3
info:

in our yml, we don't have "<<:".

https://gist.github.com/Yayan89/099cbf29427f24ff

[2021-03-30 14:08] joschi commented on #200
@Yayan89 I'm unable to reproduce your issue with OpenAPI-Diff 2.0.0-beta.8 and your OpenAPI specification:

[code]

[code]

[2021-04-07 05:41] harsimranmaan commented on #200
I ran into the same failure. It was caused due to the usage of a potentially unsupported version of openapi. I tried 3.1.0 in https://github.com/bigpanther/trober/runs/2284521332?check_suite_focus=true but it did not work. 3.0.3 works fine.

[2021-04-22 11:27] wanno-drijfhout commented on #16
Is this issue still open intentionally? It seems to be the last check necessary for version 2.0.0 to be released, which I'm looking forward to very much :-)

[2021-04-23 23:24] #170 closed

[2021-04-23 23:26] #176 closed

[2021-04-28 11:34] D0rmouse opened #226 "Local working dir used in relative paths"
I'm trying to run a openapi-diff between the HEAD and latest tag in a repository. My api specs are split up in several files that are referenced using `$ref`.

I've checked out the latest tag in build/vorigeTag and the HEAD is in the current directory. When I run `openapi-diff build/vorigeTag/specs/stamgegevens.json specs/stamgegevens.json`, I get this output:

[code]

So this leads to the conclus

[2021-04-28 14:47] joschi commented on #226
@D0rmouse The npm package [openapi-diff](https://www.npmjs.com/package/openapi-diff) is a different project.

Please report the issue at https://bitbucket.org/atlassian/openapi-diff.

[2021-04-28 14:47] #226 closed

[2021-04-28 15:50] D0rmouse commented on #226
Ah my bad, thanks for the headsup.

[2021-04-28 16:30] joschi commented on #226
@D0rmouse No worries and good luck with your issue! 😄

[2021-05-07 16:31] nickfloyd commented on #186
I love this idea @elsewhat.  Here's a workflow that I threw together that triggers on PR creation and updates to the given PR - it might or might not be helpful!

[code]

[2021-05-11 19:17] Johnlon opened #230 "Doesn't detect/render additions to the API"
Try this....

See last exploratory test I added to the existing test case.
As a user it just seems totally broken?

`package org.openapitools.openapidiff.core;

import io.swagger.parser.OpenAPIParser;
import io.swagger.v3.oas.models.OpenAPI;
import io.swagger.v3.oas.models.Operation;
import io.swagger.v3.oas.models.PathItem;
import io.swagger.v3.oas.models.tags.Tag;
import io.swagger.v3.parser.cor

[2021-05-11 19:23] Johnlon commented on #230
On further hacking I tried adding tags and paths to the original doc.
Nothing seems to prompt it to reneder what Id expect.

[2021-05-19 02:03] derjust opened #234 "`--header` parameter is ignored"
Hi!
I'd like to use openapi-diff, but the access to my OpenAPI JSONs is protected by a Authorization (Bearer) token.

`--header` seems to be a perfect fit:
[code]
Though i always end with stacktraces of
[code]

I tried various ways to pass in the `--header` but only the format above is accepted - which makes sense looking at the code: https://github.com/OpenAPITools/openapi-diff/blob/master/cli/sr

[2021-05-19 08:31] atigm commented on #200
I have the same probleme with 3.1.x, but 3.0.x works fine.

[2021-05-24 21:55] joschi commented on #234
@derjust Thanks for reporting this!

Would you like to contribute you approach to fixing this (https://github.com/derjust/openapi-diff/commit/8849ef3dd8edb73cdb730be53a9317e7005bcd0d) as a PR?

[2021-05-24 21:57] joschi commented on #16
Closed via #42.

[2021-05-24 21:57] #16 closed

[2021-05-25 19:16] derjust commented on #234
@joschi yes i will do and create a PR

[2021-05-26 21:30] #234 closed

[2021-06-02 15:21] vlad-nestorov opened #239 "opendiff-cli is not an executable jar"
Looking at `cli/pom.xml` , it seems like the `maven-shade-plugin` should be creating a standalone executable jar. The version published in Maven Central (`2.0.0-beta.10`) does not include a main class or its dependencies.

[2021-06-02 15:28] joschi commented on #239
@vlad-nestorov Try the artifact with the classifier `all`.
https://github.com/OpenAPITools/openapi-diff/blob/a6c4fce6f344f6c84977360bc2e1b41036fd8ece/cli/pom.xml#L52

[code]

[2021-06-02 15:28] #239 closed

[2021-06-02 16:05] vlad-nestorov commented on #239
TIL about classifiers, thank you very much @joschi !

[2021-06-07 05:22] shreyaspurohit opened #240 "Please document what is considered a compatible change and what is considered non-compatible change"
Please document what is considered a compatible change and what is considered non-compatible change. Something like this - https://bitbucket.org/atlassian/openapi-diff/src/master/

[2021-07-04 23:08] misterjoshua commented on #152
I was able to create a proof of concept that looks like this:

[code]

And assuming that when you build your API it emits an openapi.yaml, here's a plugin configuration you can use in the pom file:

[code]

If this is helpful, feel free to use under your license of choice.

[2021-07-13 12:15] stefanvitz opened #248 "false positive for type if only the format is changed."
i changed the format of a string property.
e.g. when generated out of java and the propery is now mapped via Spring from a String to a UUID.

Perhaps it's correct to report a change. but the change is not on the type but on the format.
and therefore `userUid (string -> string)` does not help.

old
[code]

new
[code]

report:
[code]

[2021-07-13 12:16] stefanvitz commented on #248
might be related to https://github.com/OpenAPITools/openapi-diff/issues/192 but the changes were different there so i decided to open a seperate issue.

[2021-07-22 15:16] davidboden opened #251 "PUT new attribute backwards compatibility optional"
https://github.com/OpenAPITools/openapi-diff/issues/136 made the PUT request incompatibility check stricter, considering an additional field as a breaking change. This makes sense for a scenario where updates are taking place, but is too strict if PUTs represent only inserts.

What would be the best way of optionally removing the strict handling of PUTs? Options could include:

- Surfacing more in

[2021-07-28 14:05] meisenring opened #253 "Version identifiers in paths"
The specs I want to compare have a version identifier in their paths:

E.g. `api/v1/users` and `api/v2/users`

Comparing these specs triggers false positives because of the paths, even when the rest of the specs are identical.

As a workaround I'm manipulating the specs before comparing - manually replacing api/v*/users with api/users in both.

Is there a way built into the tool that could solve m

[2021-07-31 08:08] hafizali05 commented on #200
anyone has made this work ? :-|

[2021-08-02 12:36] trohovsky opened #254 "Allow to distinguish between a patch and a minor version change"
A description of a request has changed (a patch version should be changed):

[code]

An optional field has been added to a request (a minor version should be changed):
[code]
So the outputs are identical. It is impossible to find out whether a patch or a minor version should be changed in case one uses semantic versioning. Would be possible to distinguish between the changes?

[2021-08-17 14:04] datstarkey opened #256 "Exception: java.lang.Boolean cannot be cast to io.swagger.v3.oas.models.media.Schema"
Hi,

Tool has been great so far, it's been working really well for our microservice architecture but one of our api's comes up with this error when trying to get the differences:

[code]

Any help is apprecitated, many thanks.
Jake

[2021-08-17 20:13] joschi commented on #256
@datstarkey Thanks for reporting!

Could you provide your OpenAPI spec(s) or a reduced version of the OpenAPI spec(s) to build a reproduction case? You can redact/anonymize the contents of the OpenAPI specs as long as they trigger the bug you've reported.

[2021-08-17 20:42] datstarkey commented on #256
[newVersionJson.txt](https://github.com/OpenAPITools/openapi-diff/files/7002930/newVersionJson.txt)
[oldVersionjson.txt](https://github.com/OpenAPITools/openapi-diff/files/7002931/oldVersionjson.txt)

I've attached them both json objects as text files here, comparing these two is giving me the error.

Thanks

[2021-08-25 12:04] pdkgamage commented on #200
anyone has solution for this?

[2021-09-19 01:17] dhananjay12 opened #261 "Building additioanl Custom *Diff for breaking changes"
I have a requirement to set Changes between 2 specs as a `BREAKING` change if there is a missing tag in the newer spec.

I was going through the docs/code if I can extend the tool to add my own logic to the existing one.  I saw the `ExtensionDiff` mention that we can implement it and java-spi will load my custom logic, but on further investigation, it seems that it is only for Openapi extensions f

[2021-09-24 16:23] ekadetov opened #264 "Adding a new optional property to the request/response body is considered backward incompatible."
Hi,
Why adding a new optional property (with default value) is considered to be an incompatible change?

+ V1 client sends a request without a new field - then the default value will be used by the V2 server - [OK]
+ V1 client receives the response from the V2 server with a new field - it will simply be ignored by the V1 client - [OK]

I really do not see why the diff tool reports it as an incompa

[2021-09-30 12:31] joschi commented on #254
@trohovsky Semantic versioning (https://semver.org/) is _one_ possible versioning schema but by far not the only one.

OpenAPI-diff only checks if a client compatible with an OpenAPI specification would break when used with a new version.
It doesn't tell you anything about when to increase the version number of your API, since that is completely up to you.

[2021-09-30 12:31] #254 closed

[2021-09-30 12:48] joschi commented on #256
@datstarkey Thanks for reporting this! The issue will be fixed in the next beta of OpenAPI-diff 2.0.0.

[2021-09-30 12:52] #256 closed

[2021-09-30 13:05] joschi commented on #264
@ekadetov Thanks for reporting this!

Could you please provide a minimal example OpenAPI specification to demonstrate the issue?

[2021-10-03 11:34] meisenring commented on #253
Should I close this issue?

[2021-10-04 06:22] joschi commented on #253
@meisenring Feel free to keep the issue open, but don't expect it to be worked on soon.

[2021-10-06 06:32] gbalabanov opened #268 "Wrong changelog generated when having objects with same field name"
Lets say that the old and the new OpenAPI schemas have classes **Object1** and **Object2**, both of which have a field _myField1_ without changes in-between the openapi schemas. If **Obejct1.myField1** has different description than **Object2.myField1**, that would be detected as a change and printed in the output diff file.

Also, can you add some kind of configuration that would prevent the libr

[2021-10-06 07:09] joschi commented on #268
@gbalabanov Could you please provide a test case (minimal OpenAPI spec) to demonstrate the issue?

[2021-10-06 12:35] gbalabanov commented on #268
Please find attached

[2021-10-06 13:42] joschi commented on #268
@gbalabanov I think you forgot to attach the specs. 😉

[2021-10-06 14:02] gbalabanov commented on #268
Yes, json and md files are not supported as attachments. Changed all of the to txt.
[test2.txt](https://github.com/OpenAPITools/openapi-diff/files/7294606/test2.txt)
[diff.txt](https://github.com/OpenAPITools/openapi-diff/files/7294607/diff.txt)
[test1.txt](https://github.com/OpenAPITools/openapi-diff/files/7294608/test1.txt)

[2021-10-11 10:55] languitar opened #269 "Docker image for beta11 missing"
There's no tag for the beta 11 release on dockerhub.

[2021-10-13 14:21] joelfoliveira opened #270 "Equivalent paths not supported"
When using a Spec with equivalent paths (e.g. /projects/{id:int} and /projects/{guid:string}) openapi-diff outputs the following error:
[code]

Equivalent paths are not supported in the swagger 2.0 specification. Validation tools output the following error: "Equivalent paths are not allowed."

But since parameter overloading is supported in openapi 3.0 equivalent paths should be supported.
When us

[2021-10-14 12:55] hiddewie opened #272 "References are not resolved according to RFC3986"
See the specification here: https://swagger.io/docs/specification/using-ref/.
This points to RFC3986 (https://tools.ietf.org/html/rfc3986) for the structure of JSON references. This RFC is not supported in openapi-diff.

I made an example of a valid reference according to OpenAPI 3, for which OpenAPI diff throws an error. See https://github.com/OpenAPITools/openapi-diff/pull/271

Example content:

[2021-11-08 12:41] joschi commented on #200
@petkostas You can track and contribute to the respective issue in the [Swagger Parser](https://github.com/swagger-api/swagger-parser) project which is being used by OpenAPI Diff for parsing OpenAPI specifications:

https://github.com/swagger-api/swagger-parser/issues/1535

[2021-11-09 15:59] dvzrv opened #276 "Stable release of 2.0.0"
Hi! I would like to package this software for Arch Linux.

When looking at the latest tags for this project, it appears to only consist of beta releases since 2018. Meanwhile the [2.0.0 milestone](https://github.com/OpenAPITools/openapi-diff/milestone/1) is finished. Is there a particular reason, why version 2.0.0 is not released?

I'm asking, because due to packaging policy I would not be able to

[2021-11-11 09:56] joschi commented on #152
There seems to be a Maven Plugin using OpenAPI Diff internally:
https://github.com/wheatstalk/openapi-diff-maven-plugin

[2021-11-13 09:49] joschi commented on #269
OpenAPI Diff 2.0.0-beta.11 is now also available on Docker Hub:
https://hub.docker.com/layers/openapitools/openapi-diff/2.0.0-beta.11/images/sha256-12872658224211719c977bb8fda0fd3550472360ee088be6a7f03d1bdffc484c?context=explore

[2021-11-13 09:49] #269 closed

[2021-11-14 02:10] #276 closed

[2021-11-14 22:12] #152 closed

[2021-11-24 09:47] Starkie commented on #207
Hi!

We are trying to automate a task in our CI pipeline that generates a report of the changed endpoints. This would allow us to notify the front end team if any changes must be made.

How much effort would this feature involve? Maybe we could tackle it.

[2021-11-30 04:06] dcustura commented on #264
Hi,
I needed to ask the same question, but while debugging the diff logic, I realized that adding an optional field in a PUT request is a breaking change, because an old client will accidentally reset the added field, without being aware of it.

Old:
[code]

New (it adds `tag` field):

[code]

[2021-12-10 19:13] dvzrv opened #299 "Using maven plugin prevents building from tarball"
Hi! When packaging 2.0.0 for Arch Linux I realized that the tool can not be built from a tarball of a release as long as there is the git hooks maven plugin in use:

https://github.com/OpenAPITools/openapi-diff/blob/ed6345ee792f86ba20397356bc08066ac53373b2/pom.xml#L290-L294

https://github.com/OpenAPITools/openapi-diff/blob/ed6345ee792f86ba20397356bc08066ac53373b2/pom.xml#L349-L366

As this seems

[2021-12-11 01:15] joschi commented on #299
You can disable the `githook-maven-plugin` by setting the system property `githook.plugin.skip` to `false`.

https://github.com/phillipuniverse/githook-maven-plugin#additional-configuration-options

[2021-12-11 01:17] joschi commented on #299
@dvzrv Why would you build the project from scratch when you could download the official JAR from Maven Central? It's not like your byte code would be any different.

- https://search.maven.org/artifact/org.openapitools.openapidiff/openapi-diff-cli/2.0.0/jar
- https://repo1.maven.org/maven2/org/openapitools/openapidiff/openapi-diff-cli/2.0.0/

[2021-12-11 10:50] dvzrv commented on #299
Thanks, I will look into that! :)

We generally build everything (that we can) from source. This allows for reproducibility and not being affected by supply chain attacks on a binary repository such as maven central or a compromised build infrastructure in which the official jar is being built.
Furthermore Arch Linux invests into having [reproducible builds](https://reproducible-builds.org/) for a

[2021-12-11 22:30] joschi commented on #299
Yeah, I've heard that one before. 😉
https://github.com/dropwizard/dropwizard/commit/c9158ff430c77fd0eb30f61f5a6b5ca185ed69e5

[2021-12-17 16:33] jackbilestech opened #303 "ENUM changes"
### Discussed in https://github.com/OpenAPITools/openapi-diff/discussions/292

<div type='discussions-op-text'>

<sup>Originally posted by **Roman-Bober** November 25, 2021</sup>
Hi,
I wonder why enum changes gives "brocken backward compatability"
Shouldn't be if enum is added **at the end of enum list** it should be **backward compatible**?

Thank you,
Roman</div>

I too am seeing the above issue

[2021-12-26 14:30] timur27 commented on #272
hi @hiddewie! Thanks for creating the issue. I did a quick investigation and this is the outcome:

1. Although this is not the best way to refer the property ([here](#referring-the-property-of-the-schema-object) is why), technically the scenario you described is perfectly possible.
2. `RefPointer` class has the method `resolveRef(components, t, ref)`, which in fact cuts off the base prefix and in

[2021-12-27 01:21] joschi opened #309 "Evaluate using JReleaser"
https://jreleaser.org/

[2021-12-27 01:23] joschi opened #310 "Evaluate creating native images"
- https://graalvm.github.io/native-build-tools/
- https://blogs.oracle.com/developers/post/building-cross-platform-native-images-with-graalvm
- https://www.graalvm.org/reference-manual/native-image/

[2021-12-27 01:32] joschi commented on #299
@dvzrv This issue should've been resolved via #300 and #301.

[2021-12-27 01:32] #299 closed

[2021-12-29 21:32] dvzrv commented on #299
@joschi many thanks! :heart:

[2022-01-03 08:52] hiddewie commented on #272
Hi @timur27. Thanks for the reaction.

I know that this is not the best way to refer to properties. However, our users are free to use any valid OpenAPI structure in their documents. Unfortunately that also means that our users can use uncommon ways to make `$ref`s. Other tooling does support this way of referencing other properties, so 'everything works' until OpenAPI-diff is used.

It would be g

[2022-01-07 10:39] cTAbdIsi commented on #303
@jackbilestech Changes to enums are not breaking in every programming language or in Java it is breaking and causes runtime errors. That is why Zalando works with `x-extensible-enum` https://opensource.zalando.com/restful-api-guidelines/#112.

There are numerous solutions on the market, but no official ones in the OpenAPI standard.

[2022-01-09 22:38] julienrf opened #317 "NullPointerException when comparing composed schemas"
I get a `NullPointerException` when I try to compare two schemas defined as a `oneOf`, if one of them is referred to via a `allOf` and the other one is referred to via a `$ref`. Let me show you a test case:

Old OpenAPI:

<details>
{
  "openapi":"3.0.0",
  "info":{
    "title":"API",
    "version":"0.1.0"
  },
  "paths":{
    "/resource":{
      "post":{
        "responses":{
          "200":{

[2022-01-10 07:33] orange-buffalo commented on #198
We are experiencing the same issue as OP and also believe it is a backwards compatible change.
Would the maintainers be open to accepting a PR to fix this?

[2022-01-10 07:54] orange-buffalo opened #319 "Adding a required field into request body is considered a compatible change"
Currently, when adding a new required field to the request body, the change is considered compatible - see https://github.com/orange-buffalo/openapi-diff/commit/e66b8670a2a34a636fa5d90ab1f3ddc09030adbf for the demonstration.

However, if API provider (a server) now requires a new field in the request, requests from existing API consumers (clients) will fail as they do not provide this field. Hence

[2022-01-17 13:32] thake commented on #272
Additional to the use case of @hiddewie, an RFC3986 compliant ref resolving would also support an OpenAPI-Spec that is splitted in multiple (possibly remote) files.

[2022-01-18 06:03] thake commented on #199
I don't think that adding a new response status code is a breaking change according to the spec https://datatracker.ietf.org/doc/html/rfc7231#section-6. Status codes are designed as extensible. Clients need to take this into account.

The Zalando REST guidelines come to the same conclusion: https://opensource.zalando.com/restful-api-guidelines/#compatibility

[2022-01-18 06:54] julienrf commented on #199
I argue that it is a breaking change. Let’s take an endpoint that returns either 500, 400, or 200. Clients expect only those values. Now, if we publish a new version of that endpoint that also returns 409, existing clients won’t be able to handle that status code (since they expect only 500, 400, or 200). We could say that they should fall back to a default way to handle errors (4xx codes), but th

[2022-01-18 07:22] thake commented on #199
According to the "HTTP 1.1 Semantics and Contents" the fallback behaviour is a MUST for clients:

   understand the meaning of all registered status codes, though such
   understanding is obviously desirable.  However, a client MUST
   understand the class of any status code, as indicated by the first
   digit, and treat an unrecognized status code as being equivalent to
   the x00 status code of

[2022-01-18 08:35] thake commented on #264
@dcustura I would argue that in the case of PUT an optional field is indeed an incompatible change. Omitting an optional field has semantic meaning for PUT. Clients that used PUT according to the old spec need to be aware that there is a new optional field that needs to be handled.

[2022-01-18 09:54] thake opened #325 "Markdown output does not contain compatibility information"
First of all, thanks for your great work on openapi-diff!

Markdown output does not contain information about the compatibility of a change. However, the HTML output contains the necessary compatibility information.

[2022-01-18 10:52] dcustura commented on #264
@thake I based by comment on the semantic of PUT method which basically means replacing the resource with the representation provided by the client. I can't explain it better than here https://stackoverflow.com/questions/62229223/rest-does-the-put-method-have-to-remove-an-optional-field-when-it-is-omitted

But I wish the behaviour of openapi-diff had this configurable, or at least mark the incompa

[2022-01-25 02:56] orange-buffalo commented on #319
It appeared to be our mistake - we defined required fields incorrectly:
[code]
while OpenAPI schema required it to be defined as:
[code]
After changing to proper definition the test passes.

It would be great to validate the schemas before comparison (or at least use the strict YAML/JSON parsing rules), but that is a different story.
Closing this issue.

[2022-01-25 02:56] #319 closed

[2022-01-28 07:18] thake opened #329 "False positive breaking change when making a required request body optional"
If the request body of an operation changes from required to optional, the change will be detected as an incompatible change.

I argue that this is a false positive, because existing clients are still able to communicate as before.

If this issue is accepted, I would be happy to contribute a PR to fix it :)

[2022-01-28 10:13] thake opened #330 "Removing a security scheme is considered incompatible"
Removing a security scheme should IMHO not be considered incompatible, as the API should still accept requests with the old security scheme applied.

If this issue is accepted, I'm happy to provide a PR.

[2022-01-29 16:42] joschi commented on #330
@thake I disagree. When you remove a [security scheme](https://swagger.io/specification/#security-scheme-object), then clients using this scheme won't be able to authenticate against your API.

In this case your API and your API specification do not match, do they?

Do you have another use case in mind? Maybe I misunderstood you.

[2022-02-03 20:31] terrykang90 opened #332 "Does not detect changes in some of validation properties"
Hi!
As a part of our release process, we want to use this tool to detect any breaking changes between two releases including the changes in validation properties like adding new/strengthening validations as breaking changes.
However, this tool does not seem  to support some of validation properties like `minimum`, `maximum` and `minLength` etc. I can only see `maxLength` is supported.

Is there an

[2022-02-16 09:54] jsyrjala commented on #325
It would nice to see what exact field is incompatible in addition what endpoints are incompatible.

[2022-02-16 16:09] nc-nsre commented on #212
Found that the error is within the `SchemaDiff` class in the method `Schema<?> resolveComposedSchema(Components, Schema<?>)` which only considers `((ComposedSchema) schema).getAllOf()` but not `((ComposedSchema) schema).getAnyOf()`

[2022-02-18 12:35] M0dM commented on #248
I am not very used to work in java, but adding a breakpoint on this line might help to understand the issue:
https://github.com/OpenAPITools/openapi-diff/blob/d9fff612a2a6200fd167f5d123aecccccc73912a/core/src/main/java/org/openapitools/openapidiff/core/compare/SchemaDiff.java#L326

[2022-02-18 13:09] M0dM commented on #192
I have opened a PR, with a failing test with your schema examples.

[2022-02-28 12:15] #198 closed

[2022-02-28 12:18] #317 closed

[2022-02-28 12:22] joschi commented on #303
See also: https://github.com/OpenAPITools/openapi-diff/discussions/292#discussioncomment-2265299

While it's up to the specific implementation of clients how to act on the change, adding a previously invalid value to an existing enum is a breaking change in my opinion.

[2022-02-28 13:46] MarkJBenson commented on #215
I am also encountering this issue.

The HTML output appears to be the same as the console output.

I was thinking that maybe the --info flag would output the additional information on the console and maybe also include that extra output in the HTML but the --info flag doesn't appear to do anything.

[2022-03-02 11:51] AlaNDGT opened #344 "Support for v3.1 Specs"
Hi,

Are there plan to support version 3.1?

Currently i get the following error:

[code]

[2022-03-03 10:28] #144 closed

[2022-03-04 10:06] mahnazEbrahimi opened #346 "Does not detect changes when making a field required in API"
If change "orientation" field to "required", no changes detected by the tool. Here is new and old api:

#Old API
[code]

#New API
[code]

[2022-03-04 11:34] joschi commented on #346
@mahnazEbrahimi Thanks for creating this issue!

Could you please share the complete or a trimmed down but working OpenAPI spec (new and old) so we can try to reproduce the issue?

[2022-03-04 14:04] mahnazEbrahimi commented on #346
Thank you for your response. Please find the working and not working OpenAPI specs in the following path:
https://github.com/mahnazEbrahimi/openapi-specs

In the not_working spec we have changed a schema called "DualAxisChart" which has a parent called "Visualization", it is referenced by our endpoint.

[2022-03-07 22:14] mishukdutta-toast opened #348 "If path parameter names are changed, parameter schema changes do not trigger incompatibility"
### Old Schema
[code]

### Changed Schema
[code]

The URI [`/student/{id}` & `/student/{username}` ] are (technically) same,
**BUT** The parameters are different (`id` & `username`)

The `schema` differs (one takes in `string` & another `integer`)
Running`OpenApiCompare` does not detect any changes.

Keeping the URI parameters the same and changing the schema does trigger change detection.

[2022-03-15 12:05] chatelao opened #355 "REQ - Template based output"
It would be very nice, to add a templating support like with the "openapi-generator" to implement very fast a new output format.

[2022-03-24 00:33] terrykang90 opened #357 "ChangedSchema in a readOnly property for requestBody is not filtered out from the result."
<details>
  <summary>Old API</summary>

[code]
</details>
<details>
  <summary>New API</summary>

[code]
</details>

In this example, the property `bar` in `Foo` schema is a readOnly property and `Foo` is referenced by request body of the endpoint.
When `Bar` schema is changed, it's filtered out from the request body but the change exists in the list of `ChangedSchema` in `ChangedOpenApi`, which r

[2022-03-29 16:55] dedece35 opened #358 "Path with several "{...}" incorrectly parsed"
### Explanation
When a path contains several variables with "{}" characters, the template computed for this URL is incorrect.

Example with URL template computed correctly :
- path : `/avis/by_id_utilisateur-{id_utilisateur}`
- template computed : `/avis/by_id_utilisateur-{}`

Example with URL template incorrect :
- path : `/avis/by_id_utilisateur-{id_utilisateur}_code_support-{code_support}`
- te

[2022-03-29 21:11] dedece35 commented on #358
we can see par PR : https://github.com/OpenAPITools/openapi-diff/pull/359

[2022-04-04 07:04] biswasoham opened #361 "Enum Change is not reflecting"
Enum Change is not getting reflected . Due to the if else method in changedEnum.class . It should be an (and) with getMissing.isEmty() and getIncrease.isEmpty() then only it should be compatible
attached some images here for reference
![SwaggerBUG 1](https://user-images.githubusercontent.com/101802283/161490518-bf709838-761a-4d2d-82e5-8a433ebe8427.jpg)
![SwaggerBUG 2](https://user-images.githubuse

[2022-04-04 07:07] biswasoham commented on #361
@adarshsharma kindly look into this

[2022-04-04 21:15] NeftaliAcosta opened #362 "Problem creating changelog in HTML"
Guys, I have a problem when generating a changelog in HTML format, it is not showing me the parameters that changed, however, in md it is showing the changes correctly.

HTML file
![image](https://user-images.githubusercontent.com/15948880/161632869-f53cc9c4-8cba-4873-94e0-613a70897b28.png)

md file
![image](https://user-images.githubusercontent.com/15948880/161633346-9ea9d193-d78f-4e6a-ba5b-f92da

[2022-04-05 13:48] michaelsonnleitner opened #364 "HtmlRender: Notes of Parameters shows always the new description"
rightParam and leftParam are getting the same reference. thats wrong.

https://github.com/OpenAPITools/openapi-diff/blob/02b1a3481ceb0ac5db01465bd6400e931c0d274f/core/src/main/java/org/openapitools/openapidiff/core/output/HtmlRender.java#L403

![image](https://user-images.githubusercontent.com/65229544/161768020-0fe50a5d-373c-41fe-a4fe-98c2c0fa6bdb.png)

[2022-04-05 21:54] NeftaliAcosta commented on #264
Hie, were you able to solve this problem?

[2022-04-29 20:35] doshidhaval commented on #303
We might be able to reach a decision here, but can we add a parameter to the CLI to allow us to treat ENUM as a breaking change or not. Something similar to https://openapi-generator.tech/docs/generators/java `enumUnknownDefaultCase` parameter does

[2022-05-05 21:15] kubamarchwicki opened #371 "Consider removal of deprecated elements as compatible"
I'm using `openapi-diff` quite successfully to avoid accidental changes in the API (and therefore introducing a breaking change). We use it as a part of our pipeline.

The current struggle is: that sometimes one wants to introduce a breaking change (like the removal of obsolete API).
My initial idea would float around a two-step process:
- marking an element ad deprecated (keeping compatibility)
-

[2022-05-11 22:10] eacolina opened #375 "Definition of breaking changes?"
Is there somewhere in the repo that outlines the criteria for what is considered a breaking change?

[2022-05-16 15:41] mcwhitak commented on #303
To echo what @doshidhaval said, an enum addition can be considered a compatible change if a `default` case exists (say: `UNKNOWN`) but otherwise is breaking.

This gets thornier when considering evolution over time (imagine changing a default enum value to something that previously didn't exist) however.

[2022-06-07 09:52] georgyangelov opened #381 "NullPointerException when oneOf changes to anyOf in response schema"
I observed a NullPointerException when a response schema changes from using `oneOf` to `anyOf`. [Here is a test that reproduces the issue.](https://github.com/OpenAPITools/openapi-diff/compare/master...georgyangelov:crash-oneof-to-anyof)

The error is as follows:
[code]

The direct reason seems to be that in `ComposedSchemaDiffResult#diff` there is this check:
[code]
and later, in `getMapping(righ

[2022-06-07 22:16] #358 closed

[2022-06-08 08:06] dedece35 commented on #358
hello @joschi
thank you for your review and merge.

when do you think that there will be a new release ?

thank you.

best regards,
David

[2022-06-29 18:22] Jeb135 opened #390 "Two path items have the same signature"
Hello, I have an API that I am trying to use openapi-diff to detect breaking changes with, however running into the following error when running the diff with the latest docker image.

I have many many paths in my API That look something like this:
- /Resource/{id}
- /Resource/{name}
My API is built in .NET Framework, and openapi json files generated using Swashbuckle. These endpoints are unique i

[2022-07-04 06:32] thake opened #392 "allOf : `type` of property contained in multiple subschemas is not correctly determined."
Given the following schema V1:
[code]

is changed to the following schema V2:
[code]

openapi-diff incorrectly detects the following incompatible change:
`Changed property type (object -> string)`

It seems to me that the `type` of a property that is contained in multiple subschemas of an allOf is not correctly determined. Openapi-diff recognized the type of `propA` in schema V1 as an object, but

[2022-07-18 13:27] petkostas commented on #375
I can confirm that this is a but blurry, I changed in one of the OAS files a property type from `integer` to `string` and openapi-diff failed to detect this as a breaking change.
OAS version is 3.1.x

[2022-08-10 09:28] Chexpir commented on #392
Here another example, where oas-diff errored with:

[code]

[code]

[2022-09-07 16:47] mhiggins-SA opened #406 "input string length too short for URLs"
the 2 spec input strings accept URL's - but the overall string length seems to truncate long (last) URLs.

[2022-09-08 07:21] joschi commented on #406
@mhiggins-SA How long of URLs are we talking about?

Could you please provide a reproducible example of this?

[2022-09-08 08:37] mhiggins-SA commented on #406
docker run --rm -t -v localdrive:/localdrive                                                        \
openapitools/openapi-diff:latest --html /localdrive/api-diff.html                                   \
https://api.swaggerhub.com/apis/mhiggins-sa/Petstore/1.0.0/swagger.yaml?resolved=true&flatten=false \
https://api.swaggerhub.com/apis/mhiggins-sa/Petstore/2.0.0/swagger.yaml?resolved=true&flatten=

[2022-09-13 10:55] P-Shivkumar opened #408 "[ERROR] Invalid packaging for parent POM org.apache.commons:commons-collections4:4.4, must be "pom" but is "jar" @"
Hi team,

While using this plugin to get diff of the openapi specs, I am getting this error. Full stack trace I am attaching here.

I have used this plugin as below:
[code]

[code]

[2022-09-15 17:07] AdamBosseBS opened #412 "Removing a Query parameter is considered a breaking changes while removing a Request Body parameter isn't"
While testing this tool, we've noticed that removing a query parameter would give a `API changes broke backward compatibility` result while removing a request body parameter would return a `API changes are backward compatible`. Shouldn't both be breaking changes?

If this is expected, we'd be curious to understand why that is.

Here are the spec files we used to test this:

![image](https://user-i

[2022-09-16 12:47] joschi commented on #408
@P-Shivkumar I'm unable to reproduce your issue with this minimal POM:
[code]

I suspect that there's something in your project's POM file which breaks the plugin (or more specifically the Apache Commons Collections 4.x dependency).

See below for the output of `mvn openapi-diff:diff`:
<details>
<summary>Output of `mvn openapi-diff:diff`</summary>

[code]
</details>

[2022-09-20 17:41] josue-sanchez-wabtec opened #414 "Difference between no_changes and compatible"
Hello could you please provide a use case,  example  or more documentation to identify the difference between **no_changes** and **compatible** outputs please. Thank you in advance for your help.

[2022-09-22 06:38] chengjk opened #418 "class io.swagger.v3.oas.models.media.Schema cannot be cast to class io.swagger.v3.oas.models.media.ArraySchema"
[code]

[2022-09-22 07:31] joschi commented on #418
@chengjk Thanks for reporting this!

Could you please provide an OpenAPI spec which is triggering this error?

[2022-09-30 12:06] KaiSuchomel opened #422 "StackOverflowError during Processing"
Hey,
with the attached openapi_prev_reduced.yam it is possible to force a StackOverflowError!!
[code]

[openapi_prev_reduced.yaml.zip](https://github.com/OpenAPITools/openapi-diff/files/9683960/openapi_prev_reduced.yaml.zip)

Command used:
[code]

[2022-09-30 12:10] KaiSuchomel opened #423 "Unexpected exception. Reason: class io.swagger.v3.oas.models.media.Schema cannot be cast to class io.swagger.v3.oas.models.media.ArraySchema"
Hey,
with the attached yamls (see yamls.zip) we get the following Exception:
[code]
[yamls.zip](https://github.com/OpenAPITools/openapi-diff/files/9683989/yamls.zip)

Command:
`java -jar cli/target/openapi-diff-cli-2.1.0-SNAPSHOT-all.jar openapi_prev.yaml openapi.yaml`

[2022-09-30 12:11] KaiSuchomel commented on #423
see https://github.com/OpenAPITools/openapi-diff/issues/418#issue-1381915031

[2022-09-30 20:09] #418 closed

[2022-10-25 21:09] Pyth0ff commented on #392
I ran into the same issue that my examples are like that:

[code]

Produces the following exception:
[code]

[2022-10-25 21:24] joschi commented on #392
@Pyth0ff Does it still fail with the latest version?
https://github.com/OpenAPITools/openapi-diff/releases/tag/2.1.0-beta.4

[2022-10-25 21:43] Pyth0ff commented on #392
@joschi Thank you for the quick answer and yes the latest beta helps to solve my issue. :)

[2022-11-07 09:29] anush0247 commented on #408
I am also facing the same error any help on this is much appreciated @joschi

[2022-11-07 09:32] joschi commented on #408
@anush0247 Again, I'm unable to reproduce the issue: https://github.com/OpenAPITools/openapi-diff/issues/408#issuecomment-1249320131

Could you post a minimal example project which reproduces the issue?

[2022-11-17 12:43] crisarmen commented on #371
+1

[2022-11-21 05:53] Swap3093 commented on #182
I also Facing same issue can not read old/new  open API  spe in Restest JAVA ......any solution

[2022-11-21 15:01] joschi commented on #182
@Swap3093 Please open a new topic in the [Discussions](https://github.com/OpenAPITools/openapi-diff/discussions) of this project and provide as much information as possible, such as the exact version of openapi-diff you're using and the OpenAPI specs which cause the issue.

[2022-11-25 22:48] joschi commented on #408
Closing due to inactivity of the author(s).

[2022-11-25 22:48] #408 closed